<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon (click)="goTo('cart')">shopping_cart</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon (click)="goTo('products')">list</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
